In [46]:
require('nn')
require('hdf5')
require('optim')

In [47]:
f = hdf5.open("data.hdf5", "r")
X_train = f:read("train_input"):all()
Y_train = f:read("train_output"):all()
X_valid = f:read("valid_input"):all()
q_valid = f:read("valid_q"):all()
X_test = f:read("test_input"):all()
q_test = f:read("test_q"):all()
kaggle_valid = f:read("valid_kaggle"):all()
nclasses = f:read('nclasses'):all():long()[1]
nfeatures = f:read('nfeatures'):all():long()[1]
f:close()

window_size = X_train:size(2)
n_actual = nfeatures

In [64]:
function bigramCount(X, K)
    local countMatrix = torch.zeros(K, K)
    for i=1,X:size(1) do
        for j=2,X:size(2) do
            local prev_word = X[i][j-1]
            local curr_word = X[i][j]
            countMatrix[prev_word][curr_word] = countMatrix[prev_word][curr_word] + 1
        end
    end
    return countMatrix
end

function unigramCount(X, Y, K)
    local countVector = torch.zeros(1, K)
    for i=1,X:size(1) do
        for j=2,X:size(2) do
            local idx = X[i][j]
            countVector[1][idx] = countVector[1][idx] + 1
        end
    end
    return countVector
end

In [58]:
function additive(matrix, alpha)
    return matrix:add(alpha)
end

function normalize(CV, CM)
    return CM:cdiv(torch.expand(CV:t(), CM:size(1), CM:size(2)))
end

function test(bcm, valid, kaggle, q)
    p = 0
    for i=1,valid:size(1) do
        idx = q[i][kaggle[i]]
        prev = valid[i][5]
        p = torch.log(bcm[prev][idx]) + p
    end
    return torch.exp(-p/X_valid:size(1))
end

function kaggle(bcm, test, q)
    scores = torch.zeros(q:size(1), 50)
    for i=1,test:size(1) do
        prev = test[i][5]
        for j=1,50 do
            w = q[i][j]
            scores[i][j] = bcm[prev][w]
        end
    end
    return scores:cdiv(torch.expand((torch.sum(scores, 2)), scores:size(1), scores:size(2)))
end

function write2file(scores, fname)
    f = io.open(fname, "w")
    f:write("ID,Class1,CLass2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,CLass13,Class14,Class15,Class16,Class17,Class18,Class19,Class20,Class21,Class22,Class23,CLass24,Class25,Class26,Class27,Class28,Class29,Class30,Class31,Class32,Class33,Class34,CLass35,Class36,Class37,Class38,Class39,Class40,Class41,Class42,Class43,Class44,Class45,CLass46,Class47,Class48,Class49,Class50\n")
    for i=1,scores:size(1) do
        s = tostring(i)
        for j=1, scores:size(2) do
            s = s .. "," .. tostring(scores[i][j])
        end
        f:write(s .. "\n")
    end
    f:close()
end

In [65]:
CM = bigramCount(X_train, nfeatures)
CM = additive(CM, 1)

In [66]:
CV = unigramCount(X_train, Y_train, nfeatures)
CV = additive(CV, 1)

In [68]:
BCM = normalize(CV, CM)

In [ ]:
JLL = distribution(BCM, X_valid)

In [55]:
valid_perplexity(JLL, kaggle_valid, q_valid)

-33413.805373877
20233.112593302

In [41]:
scores = kaggle(BCM, X_test, q_test)

In [42]:
write2file(scores, "asdf.csv")

In [69]:
test(BCM, X_valid, kaggle_valid, q_valid)

133.14713426227

In [67]:
CM:sub(2,2)

Columns 1 to 11
  5562  14426      1      1   1089   6071   3586   3724   3991   7393   1830

Columns 12 to 22
  1667   1891    299   1573    511   1594   1313   1829    959   1007    966

Columns 23 to 33
     6   1614    660    849      9    691    479    367    497    587    997

Columns 34 to 44
     1    655    405    180    745    201    184    189     37    661    281

Columns 45 to 55
   517    704    196    366    205      5    387    375    371    595    107

Columns 56 to 66
   194    297   1203    213     13    221    109     62     21    115    109

Columns 67 to 77
   657    179    280    171    123     92    516     43    142     70     90

Columns 78 to 88
   115    253    124    197    697    165    738     70    502    267    109

Columns 89 to 99
    71    164    119     72    442      5    157    353    268    413    109

Columns 100 to 110
    62     97     67    127     53     34    110    119     95      1     86

Columns 111 to 121
    22     79     16    107    130     77    102    122     82    212    100

Columns 122 to 132
    93     49     67     10    103    156      5    182     74     19     33

Columns 133 to 143
    53     34     38    140     23     82     33     37    101     68    145

Columns 144 to 154
   334    138     57    119     33     37    311    130     43     66    272

Columns 155 to 165
    52    193    103    238    106     60     78     73     47     67    105

Columns 166 to 176
    58     27    143    152     13    178     12     34     57     39    169

Columns 177 to 187
   105     90     39    199     61    134     13      7     10     32     34

Columns 188 to 198
    38     17     77    225     26     84    124     99      4      5     12

Columns 199 to 209
   194    110    143     26     21     31     45     83     59     24     51

Columns 210 to 220
    42     12     93    117      5     24    100     53     42     59     62

Columns 221 to 231
    69     43     72    116     48     21     72     14     38     40     83

Columns 232 to 242
    37     67    177     71     32     17     13     42     45     62     66

Columns 243 to 253
    33     80     42     41     13     27     34     40     73     74     92

Columns 254 to 264
     5     42      1      5      1     54     25     25     86      5     75

Columns 265 to 275
    11      9     79     19     38    101     43     66     33     49    159

Columns 276 to 286
    66    201      1      1     53     83     33      7     17     96     79

Columns 287 to 297
   109     30     41    149      1     47      5     67     21     28     31

Columns 298 to 308
    46      1     19     18     35     74     36     13     36     48     54

Columns 309 to 319
    55     38     39     81      1      1     11     53      1     37    130

Columns 320 to 330
    54      6     13     44     31     93      9     21     25      5     61

Columns 331 to 341
    39     21     63     14      5      5     27     95    117     89     86

Columns 342 to 352
    95    121     18      5      5     33     24     63      9     52     60

Columns 353 to 363
    25     61     35     30     62     53     13     31     55     37     71

Columns 364 to 374
    32      5     85     36     25     25     25     37     33      5     22

Columns 375 to 385
    69     18     61     54     21      5     33      9     45      9     29

Columns 386 to 396
   152     50     13      9      9     81     61     38     14     37     26

Columns 397 to 407
    27     21      1     70     35     29     97     13      5     36     43

Columns 408 to 418
    26      9      5      1      9     31     25     17     50      5     50

Columns 419 to 429
    49    163      1     26      9     15     17      8     24     33      9

Columns 430 to 440
    26     21      1     58     26     94      9     35     46     17     19

Columns 441 to 451
    22     17     53     31     43     45    121     43      1     46     53

Columns 452 to 462
    51     27     17     33     40     73     35     29     17     15     11

Columns 463 to 473
    21     18     75

   27      1     25     30     13     30     33     10

Columns 474 to 484
    15      5     13     42     51     58     15     13      1     86     33

Columns 485 to 495
    55     21     12     39     61      1     25     33      7     28     25

Columns 496 to 506
    32     11     16     33      9     42     25      5     90     13     38

Columns 507 to 517
     6      9     17     45    118      5     61     21     13     61     22

Columns 518 to 528
    17     21     25      6     38      5     28      1     17     44     30

Columns 529 to 539
    13     61     48     10     39     35     26     34     29     15     60

Columns 540 to 550
    31     99     25      5     52     41     52     29     17      1     59

Columns 551 to 561
    63     12     45    185     39    112     40     57     11     41      4

Columns 562 to 572
    94     13     28     35     54      9      9     19     13     37     31

Columns 573 to 583
    21     17      9      9      9      1      1     35      1      7     20

Columns 584 to 594
    13      1     37      1     23     36     18      5     21     13     41

Columns 595 to 605
    88     41     32     44      3     29     64     94     39     39      6

Columns 606 to 616
    10     16     14     38     11     33     36     22     26     17     35

Columns 617 to 627
    15     89      9     15     53     13     50    133     25      1     33

Columns 628 to 638
    64      5     28      1     28     23     42     29     15     26      9

Columns 639 to 649
    32     11      9     10    153     54     42     23     30     25     21

Columns 650 to 660
    15     11      9      5     18      5     17     49     10     46     39

Columns 661 to 671
    51     28     48     49      6     24     13     46      5     39     17

Columns 672 to 682
    21      9     42    189     22     34     61     13     10     29     16

Columns 683 to 693
    29     84     36     34     13      5     17     13     13     31     50

Columns 694 to 704
    53     12     21     30      9      1     28     11     66     46     88

Columns 705 to 715
    25      4     10     18     11     47     23     65     31      5     32

Columns 716 to 726
    29     13      9      9     18     33     37     48     50     12     52

Columns 727 to 737
    13      6     30     28     13      9     17     25     28     13      7

Columns 738 to 748
    71      6     14     24     11      1     13     37     29     53     21

Columns 749 to 759
    17      1     24     17     13     58      9     32     16     30     41

Columns 760 to 770
    21     62      3     17     13      6     37     23     19     15     39

Columns 771 to 781
    13     13      6     54     12     13     12     14     17     52     31

Columns 782 to 792
    48     17     13     21     17     25      7     21     37      1     24

Columns 793 to 803
    12     27     27     37     31      1     21     29      9     14     50

Columns 804 to 814
    34     21     36     34     26     43      9     19     46     43     22

Columns 815 to 825
     5     13     41      5      4     16      9      5     16     33     12

Columns 826 to 836
    26     21      1      5      5     24     18      9     12      4      1

Columns 837 to 847
     5      1      1     13      3     43      5     21     12      1     14

Columns 848 to 858
    21      1     11    191      1     13     30     47     24      5     28

Columns 859 to 869
    22     27     47     38     28     17      7     89     13     21     26

Columns 870 to 880
     1     17      5     41     38     23     13      5     20      1     38

Columns 881 to 891
    39     28     24     23      5     46     14     14      1     17      9

Columns 892 to 902
    35      5     10      1     38      1     20     36     29     37      1

Columns 903 to 913
     5     13     20     27     35     32      9     13      9     14     15

Columns 914 to 924
    12     18      1     26     17     33     13      9      1     10     17

Columns 925 to 935
     5     13      5      9      1      5

   1      2      3     36      5

Columns 936 to 946
    25     14     20      9      1     41     24     25     41     35     41

Columns 947 to 957
    21     33     11     26     13     13     15      5     12     21      9

Columns 958 to 968
    69     54      9      5     13      5      9     11      6      5     15

Columns 969 to 979
     6      5     19     34      5      5     15     26      5     13     31

Columns 980 to 990
     9     13      1      5      9     48     29     13     13     21     17

Columns 991 to 1001
   129     35     45     29      1      1     23      5     21     15     17

Columns 1002 to 1012
    17     12     18      5      1      9     20     21     29      1      1

Columns 1013 to 1023
     1      9     27      9     25     33     13     20      5      5     10

Columns 1024 to 1034
    11      5     28      9     13     18      1      9     13     10      3

Columns 1035 to 1045
    34      6     22     14     25      8      5     21     65      3     16

Columns 1046 to 1056
    13     19      1      9     13     21     13      9     12      3     13

Columns 1057 to 1067
    46     45     17     35      5     37     23     46      5     13      9

Columns 1068 to 1078
    21      1      9      1     13      9      1      5     31     17      1

Columns 1079 to 1089
    18      5     13     15     25      7      9      1      6     17     16

Columns 1090 to 1100
    30      9     19     33     23     12     21     13     13     17     28

Columns 1101 to 1111
     1     29      1     28      9     55     49     13      9      9      1

Columns 1112 to 1122
     9      1     12      9      1     15     19     29      5     33     65

Columns 1123 to 1133
     9     13     38      1      5      1     38     49     25     14      5

Columns 1134 to 1144
    29      6      1      5     17      1     27      5      5     13     39

Columns 1145 to 1155
     1      1      9      1     26     21     13      1      5      2     17

Columns 1156 to 1166
    13      9      5      9     18     13     18     24      9      1     15

Columns 1167 to 1177
     1      6      5     16     81     13      5     14      1      1      9

Columns 1178 to 1188
    27     35      9      1      9      1      1     14      1      5     21

Columns 1189 to 1199
     5     33     32     13     29      8     17     13      6      9     21

Columns 1200 to 1210
    17     26     12     22     31      9      1      1     17      1    149

Columns 1211 to 1221
     5      3     33     10      9      9     17     18      5      5      1

Columns 1222 to 1232
     6      1     92     14      1      1      5      9      8     26      5

Columns 1233 to 1243
     2      9     30      5     41     13      4      9      8      1      9

Columns 1244 to 1254
     1     30      2     11      6      9     23     12     15     25      1

Columns 1255 to 1265
    25      5     25     13      5     21     17      1     21     57     12

Columns 1266 to 1276
     5      5     25      1     17      5      9     46     60     89     21

Columns 1277 to 1287
    17      7     13      1     16      5      9      5     19      1      8

Columns 1288 to 1298
     5      1      1     25     22     25     30      5     25     13     13

Columns 1299 to 1309
    29      5     13     41     21      5     21      2     22      6      5

Columns 1310 to 1320
    13     17     13     14      9     17      1     10      9     42     17

Columns 1321 to 1331
    19     21     35     13     20      9      5      9     13      2      1

Columns 1332 to 1342
     9     15      1     18     15     16      5      5     13      5     30

Columns 1343 to 1353
    25      4     21      1      1      1      9     69      5      1     15

Columns 1354 to 1364
    17      1     44      9      5     15     21     22     36     21      5

Columns 1365 to 1375
     1     19      1      1      5     23      6      1      5      9      5

Columns 1376 to 1386
     1     17      5      5     13     35      5     14     13     33      5

Columns 1387 t

o 1397
     1     25     10      5      1     21     12     10      1      9      1

Columns 1398 to 1408
     9     13     13     25      1     62     15      9     28      1     35

Columns 1409 to 1419
     5      1      9      1     31      3      2      9      7     13      1

Columns 1420 to 1430
    21     17     21      1     23      1      9     13      9      5     14

Columns 1431 to 1441
    16      1      9     13      1     12      1     13      5      8      1

Columns 1442 to 1452
     5      2      1     19      5     21     13     26     13     11      9

Columns 1453 to 1463
    21     17     17      9      5      3      2     22     16     21      5

Columns 1464 to 1474
    18      5      5      1      1      5      1     35     15      1      8

Columns 1475 to 1485
    17     57      5     14      5      3     10     10      9     13      5

Columns 1486 to 1496
     6     13     17     13     37      9      1      7      2     18     11

Columns 1497 to 1507
    73      1      5     25     26     21      1      1     11     22      1

Columns 1508 to 1518
    53      9      5      9      1      9      9     37     21      9      9

Columns 1519 to 1529
    29      1      1     12      1     20     25      5     14      8      5

Columns 1530 to 1540
    14     13      5      5      5     13     18     13      2     12      1

Columns 1541 to 1551
     1     43     13      1      1      9     19     13     13     11      9

Columns 1552 to 1562
     7      1      5      9      9      1      2     22     20     50     23

Columns 1563 to 1573
    23      9     13     30     13      8     13     38     53     13      5

Columns 1574 to 1584
     1      1     13     27     17     11      1      2      7      5     13

Columns 1585 to 1595
    15     23     13     14      5      9     17     10      1      5     13

Columns 1596 to 1606
     1      1      5      2      1     40      1      5     21      9      9

Columns 1607 to 1617
    15      1      9      1     21      9     24      9     52      1     13

Columns 1618 to 1628
     9      5     10      4      1     13      9     10      1      9     16

Columns 1629 to 1639
     1      9     11      1     21     17     21     13     11      5     12

Columns 1640 to 1650
    13     10      7     23      9      9     30     19      5     12     21

Columns 1651 to 1661
     1      1     22     17     22      5      5      5      5      5     13

Columns 1662 to 1672
     5      5      9     29     13      9      9     13     13     33      5

Columns 1673 to 1683
    49     17     71      5     35      9      3      1      9      5     10

Columns 1684 to 1694
    21     13      5      5     17      1     17      7      9     17     29

Columns 1695 to 1705
     9     26     13      1      5     27      1    129     21     28      9

Columns 1706 to 1716
     1      1     25      3     12      7     17      9     29      1      9

Columns 1717 to 1727
    53      9      1      5     18      9      5      1      9     17     17

Columns 1728 to 1738
    47      5      5     13      2      1      1     18     20      1     10

Columns 1739 to 1749
    13      1      2     17     21     18      1      1     12     18      9

Columns 1750 to 1760
     7      5      1      5      5     17      5     20      3      1      9

Columns 1761 to 1771
     5     19      4      7      5     40     16      1      5      9     10

Columns 1772 to 1782
     1      9      5     10      1      1      1      1     13      9      9

Columns 1783 to 1793
    22      1     21     17      5     13      1      5     21      5     26

Columns 1794 to 1804
     9     13      6      1      9      6      1     17      5     14      9

Columns 1805 to 1815
    23      1      4     32      5     25     13      5      9      1     29

Columns 1816 to 1826
     9     30      9     13     17     21      9     12      5      1      5

Columns 1827 to 1837
    13      1      5     17      9      9     10     13      1     13      5

Columns 1838 to 1848
     5      1      9     33

  10      5      1     29     13     17     25

Columns 1849 to 1859
    97      6      1     13      1     13     11     17      9      9      5

Columns 1860 to 1870
     6      1     10      1     21      1      1      9     17     26      5

Columns 1871 to 1881
     1      5     11      9      5     13     12     18     13      8      1

Columns 1882 to 1892
    32      1      5      1      9      1     21     25      9      9      1

Columns 1893 to 1903
    13      1     13     15     12      5      1      1     13     20      5

Columns 1904 to 1914
    13     24     10      1      1      1     13      5      1      1      1

Columns 1915 to 1925
    13      1      9     22      5     13      9      1      7      1      1

Columns 1926 to 1936
    21     17      5      1      5      5      9      6      5      5      9

Columns 1937 to 1947
     5      5     18      9      9      5      5     17      5     17      1

Columns 1948 to 1958
     1     31      5      1      5     19      1      7      9     17      5

Columns 1959 to 1969
     5      5     20      5      1      9      9      5     18      1     13

Columns 1970 to 1980
     1     17     13      1      5     29      8      5     22     13      5

Columns 1981 to 1991
     1     14      5      5      7      5      1      1      1      7      1

Columns 1992 to 2002
     9      1     25      1      5     17     15      9     11      1      1

Columns 2003 to 2013
    10     11      2      1      1      5      5     15      1      5      1

Columns 2014 to 2024
     5      9     21      5      1      5      6     22      1     45     17

Columns 2025 to 2035
     9     24      5     20      5      9      1      9      5      9      6

Columns 2036 to 2046
     1      8     23     25      1      1     17     26     13      5     17

Columns 2047 to 2057
     2      1      1      1     13     43     17     21      9     10      9

Columns 2058 to 2068
    13     33      7     17      5      4      1     13      1      9     17

Columns 2069 to 2079
     5     13      9      1     25      1     10     29      1     13     25

Columns 2080 to 2090
     9      6      1      1     39      5     12     19      1      5      9

Columns 2091 to 2101
     1      1      1     11      3      9     15     23      9      1      9

Columns 2102 to 2112
     5     20     13     14     18      1     13      1      2      1     14

Columns 2113 to 2123
    10      9      1      5      1      6     21     11     13      6      9

Columns 2124 to 2134
     1      1      5     25     20      1      7     13      9      1     13

Columns 2135 to 2145
     9     21     11      5      1      9      3     21     29     27     25

Columns 2146 to 2156
     5     67      1      9      5      5     14      1      1      1      1

Columns 2157 to 2167
     1      5     13      5      9     21     13      5      2      1      5

Columns 2168 to 2178
     5      9      7     10      9     10      5     22      7      5      1

Columns 2179 to 2189
     1      1      1      7     17      1     17     21     33      9     30

Columns 2190 to 2200
     1      1     21      1      1     52     17     13      1      1      9

Columns 2201 to 2211
     9     10     13     17      1      5      1     13     61      5      1

Columns 2212 to 2222
     1     18      9     13     20      1      5      9      5      5      1

Columns 2223 to 2233
     1      9     13     10      9      1      6     35     13      5      1

Columns 2234 to 2244
    13      1     17      1      9      5      5      1      9     17      9

Columns 2245 to 2255
    10     16     17      9      1      5     29      1      5      7      1

Columns 2256 to 2266
    33      1     25      2     10      1      9      8      9      1      1

Columns 2267 to 2277
     5      9      9     13      9     22      1      1      7      9     16

Columns 2278 to 2288
     9     27      1      5      1     19      1      1     24     22     13

Columns 2289 to 2299
     4     39      1      4     13      3      1      5     10

 5      1

Columns 2300 to 2310
     5      1      9     13      6     41      9      7      5      1      7

Columns 2311 to 2321
     2      6      5      5     13      1      9      1      5      5      5

Columns 2322 to 2332
    14     21      1      1      1      9      5      2      1      1      5

Columns 2333 to 2343
    17      1     19      1      3     11      1      5      9      1      1

Columns 2344 to 2354
     5      5      1     13      1      7      5      1      5      7     13

Columns 2355 to 2365
    39     27      1     18      4      5      1      1      1      1      1

Columns 2366 to 2376
    22     13     13      5      1      9      6      5     10      5     23

Columns 2377 to 2387
     1      8      1      1      5      1     11      1      5      5     11

Columns 2388 to 2398
     5     26     29      9      1     29      5     22      9      5      5

Columns 2399 to 2409
    21     23      1     16      9      1      8      9      1      5      9

Columns 2410 to 2420
     1      1     22      5      5      1      1     25     29      9      1

Columns 2421 to 2431
     5      9      1     25      1     13      1      9      1      8      5

Columns 2432 to 2442
     1      1      4      5      5      9      5      9     18      5      1

Columns 2443 to 2453
     1     16      5      9      1      9     13      5     13      1      1

Columns 2454 to 2464
     9      1      9      5     17      6     31      8     13      1      1

Columns 2465 to 2475
    19      1     21      1      9      9      1      1      2      5      1

Columns 2476 to 2486
     5     10      9      1      8     18      5      5     13      5     13

Columns 2487 to 2497
     1      1     13     11     13      9      1      1      5      5      1

Columns 2498 to 2508
     1      8      5      5      5     12      9      1      9      5      5

Columns 2509 to 2519
     2     13      5     10      1     22      1      9      5     19      1

Columns 2520 to 2530
     6      1      1     12      6      6      5      1      5     13      7

Columns 2531 to 2541
     9      1      3      5      5      5      1      5      1      1     13

Columns 2542 to 2552
     5      1      5     17      9      5      3     17      9      1      1

Columns 2553 to 2563
     3      1      1      1      7      6      1      1      1      1      5

Columns 2564 to 2574
    17      6      5      3     13      1     18     19      5      6     17

Columns 2575 to 2585
     1      5      2      9     17      5      9      1      9     18      1

Columns 2586 to 2596
    10      9      5      2      1      1      5      1     16     13      1

Columns 2597 to 2607
     1      1      9      5      5     18     13      1      5      1     13

Columns 2608 to 2618
     5      5      1      3      5     13      5      9      7      6      1

Columns 2619 to 2629
    14     11      1      5     17     13      1      2     11      1      5

Columns 2630 to 2640
     5      1     13     23      5      3      1      1      5     36      1

Columns 2641 to 2651
     5      7      1      1     14      1      1     17     14      5      5

Columns 2652 to 2662
     1      9      7     25      1      1      5     25     13      9      1

Columns 2663 to 2673
     5      9     11     10     13      1      5     17      5      9     13

Columns 2674 to 2684
     5      7      5     13      1      2     15      5      5     23      9

Columns 2685 to 2695
    21      5     14      7      1      5      5      5      1      9      1

Columns 2696 to 2706
    17      1      5      5      1      5      5      6      9      5      1

Columns 2707 to 2717
    19      1      9      7      1     18      5      5      1      5      5

Columns 2718 to 2728
     9      7     13      5     13      1     12      9     17     13      1

Columns 2729 to 2739
     1      1      5      9      5      1     21      6      1      1      5

Columns 2740 to 2750
     9     17      8      5      5      1      1     17     13     11      2

Columns 2751 to 2761

9      6      1      9     16      1     11      1     37      5      5

Columns 2762 to 2772
     1      1      5      6      6     17      7     13      1      1      1

Columns 2773 to 2783
     9      9      5      1     32      5      1      1     13     13      5

Columns 2784 to 2794
     5      5     13     17      5     10     17      9      1      9      1

Columns 2795 to 2805
     1      8      1     10      1      1      7     13      2      5      6

Columns 2806 to 2816
     9      9      1      5      1      5      3     15      1      1      4

Columns 2817 to 2827
     1      1     14     13      6      5     26     49     13     21     24

Columns 2828 to 2838
     1      1      1      5      9     13      1     13     18     13      9

Columns 2839 to 2849
     5      1     14      9      4     10      3      5      4      6      5

Columns 2850 to 2860
     5      1      5      1      5      3      9      9     13      5      1

Columns 2861 to 2871
     5      1      5      1      1      1     13      5     39      6      5

Columns 2872 to 2882
     5      5     17      5     21      1     16      5     17      4      5

Columns 2883 to 2893
     1      1     10      5      9     14      1      1      5      1     22

Columns 2894 to 2904
     2      5      9      5     33      1     13      5      9      1      9

Columns 2905 to 2915
    13      1      9      5      1     21      1     19      1      1      1

Columns 2916 to 2926
     1      1     17     10     13      1      9      9      1      1      3

Columns 2927 to 2937
     1     13      9      9      5      1      5      1      1      1     13

Columns 2938 to 2948
     3      5      5      5      5      5      1      9      5      1      5

Columns 2949 to 2959
     1      9      3     24      5      5     10      1      1      1     21

Columns 2960 to 2970
     5      9      1      4      7      5      5     21      5      1      5

Columns 2971 to 2981
     1      5      1     15     17      1      5      1     10      1      1

Columns 2982 to 2992
     1      1     10      5      5      6     13      1      1      1      5

Columns 2993 to 3003
     1      1      1      1      5      1      7      9      9     10      1

Columns 3004 to 3014
     1     16      1      7      5      5      1      2      5     13      1

Columns 3015 to 3025
     5      1      4      1      9     13      1      1      5      1      1

Columns 3026 to 3036
     1      1     18      5      4     13      1      1      5      1      1

Columns 3037 to 3047
     6      3      5      1     31     21      5      4      5      1      5

Columns 3048 to 3058
     1      1      6     13      5      9      6      1      5      5      1

Columns 3059 to 3069
     1      5      1      1     13      5      1      6      1      5      1

Columns 3070 to 3080
     5      9      5     13      1      1      6      1      6      1      1

Columns 3081 to 3091
     1      1      5      9      1      5      5      5      5      1      5

Columns 3092 to 3102
    20      1      1      9      1      3      5     17      9      1      5

Columns 3103 to 3113
     1      7      9      9      1      1      5      5      1      5      9

Columns 3114 to 3124
     1      1      5      2      5      1      1      5      1      1      1

Columns 3125 to 3135
     5     11     18      1      5      1     12      5      5      9      1

Columns 3136 to 3146
     1      9      1      5     61      6      1      1      5      9      5

Columns 3147 to 3157
     5      4      9      5      2     17      1      5      1     18      5

Columns 3158 to 3168
     1     28      9     15      5      5     13      9      1      1      1

Columns 3169 to 3179
     1      1      1     25      5      1      8      6      5     15      1

Columns 3180 to 3190
     9      9      5      5      2      5      5      1      9      1      1

Columns 3191 to 3201
     1      9      1      5      1      2      1      3      5      6     14

Columns 3202 to 3212
     1      1      3      9      5      1

     5      9      1      1      1

Columns 3213 to 3223
    12     12      1      1      1      5      1      5      9      5      9

Columns 3224 to 3234
     5     21      1      5     17      1      1     13     18      1      7

Columns 3235 to 3245
     1     14      1      5      1      5      9      5      9      5      1

Columns 3246 to 3256
     1      1      1      1      9      1      9      6      2      1      5

Columns 3257 to 3267
     2      1      5      5      1      1      6      1      1      1      6

Columns 3268 to 3278
    13      5      6      1     14     21     21      9      1      1      5

Columns 3279 to 3289
     1      9      1      1      2     11      1      1      5      5     18

Columns 3290 to 3300
     1      1      1      1      5      1     25      1      7      5      5

Columns 3301 to 3311
     5      1      5      5      9      3      1      6     11      5      1

Columns 3312 to 3322
     1     72      5      5     22      5     10      5      9      1      5

Columns 3323 to 3333
    13      5      1      5      5      1      1      1      1     15      1

Columns 3334 to 3344
     1      1     11     12     13      5      1      2      5      1      1

Columns 3345 to 3355
     1      7      5     25     18     11      1      1     13      5      5

Columns 3356 to 3366
    12      5      7      1      9      8     16      1      1      7      2

Columns 3367 to 3377
     5     21      1      1      9      9      1      9      1      1      1

Columns 3378 to 3388
     1      1      5      4      8     13      9      9      1      5      1

Columns 3389 to 3399
     9      6      1      5     13      5      5      7      1      1      2

Columns 3400 to 3410
     2      1      9      1      5      5      2      1     10      5      1

Columns 3411 to 3421
     5      1      1      1     45      1      5     13      1      1      1

Columns 3422 to 3432
     5     14      1      2      5      1      7      5      1      5      5

Columns 3433 to 3443
     9      1      1      1      9      6      5      1      7      5     13

Columns 3444 to 3454
    21      5      9      6      9      1      2      3      5      1      9

Columns 3455 to 3465
     1      1      5     11     14      9      1     13      1     21     14

Columns 3466 to 3476
     3      1     11      1      1     21      9      1      1     19      9

Columns 3477 to 3487
     9      5      1      1      5     14      9      1      1      9      9

Columns 3488 to 3498
     5     13      9      9      4      9      5     14      6     16      1

Columns 3499 to 3509
     5      6      9     13     10      5     17      1      2      1      1

Columns 3510 to 3520
     1     14      9      9      1      5      5      1      5      1     15

Columns 3521 to 3531
     5      5      5     14      5      1     41      1     18      5     13

Columns 3532 to 3542
     1      1     25      1      5      9      1      5      1      1      9

Columns 3543 to 3553
     1      5      9      6      1      1      1      5      9      7      5

Columns 3554 to 3564
     9      5     41      1     35      1      1      1      9      9      9

Columns 3565 to 3575
    16      1      1      9      9     25      1      1      1      1      1

Columns 3576 to 3586
     1      9      1      1      9      1     13      5      5     13      2

Columns 3587 to 3597
     2      8      1      9      6      1      9      5      9     15      5

Columns 3598 to 3608
    13      1      1      5      5      1      5      9      1      1      1

Columns 3609 to 3619
     5      9      5      1      1      9      1      1      3     12      1

Columns 3620 to 3630
     7      1      5      1      5      1      1      1      5     53      5

Columns 3631 to 3641
     1      1      1     12      1      1      1      1      9      1      5

Columns 3642 to 3652
    18      8      5      1      6      1      5      1      5      1      2

Columns 3653 to 3663
     5     10      1      1      1      1      1      5      4     11      5

C

olumns 3664 to 3674
     9      5      4      2      5      9      1      9     16      1      9

Columns 3675 to 3685
     1      1      1      9      5      1      1      1      5      1      5

Columns 3686 to 3696
     1      5      1      1      9      6      1      5      1      1      5

Columns 3697 to 3707
     5      1      1     15      1      2      1      2      1      1      5

Columns 3708 to 3718
     1      1      5      1      1      5      1     13      1      1      1

Columns 3719 to 3729
     1      1      5     13      1      2      1      1     12      5      5

Columns 3730 to 3740
     1     13     17      1      5     11      5      1      5      9      1

Columns 3741 to 3751
     1      5      1      1      5      5      1      1      1      5      1

Columns 3752 to 3762
     1      3      1      5      1      5     11      1      5     15      9

Columns 3763 to 3773
     5     24      5      1      8      9      1      1      5      1      9

Columns 3774 to 3784
     1     13      1      2     10      1      1      1      1      5      9

Columns 3785 to 3795
     1      1      1      1      5      6      1      5      5      1      5

Columns 3796 to 3806
     9     13      1      5     25      1      1      1      1      1     19

Columns 3807 to 3817
     1      1      5      5      5      1      1      5      5      1      6

Columns 3818 to 3828
     1      6      5      1      9      6     20      9      5      9      9

Columns 3829 to 3839
     1      7      5     10      1      1      5      1      6      1     10

Columns 3840 to 3850
     9      5      1      1      1      1      1      6      5     23      9

Columns 3851 to 3861
     1      1      1      2     17      6      5      5      1      1      4

Columns 3862 to 3872
    11      9      5     13      1      1      5      3      1      1      1

Columns 3873 to 3883
     6      9      1      5      3      1      5      5      1      5      5

Columns 3884 to 3894
     5      1      1      9      5      1      1      1      5      1      5

Columns 3895 to 3905
     1      1      1      1      1      1      5     11      6     11      1

Columns 3906 to 3916
     1     25      1      1      1      9      1      1      1      5      1

Columns 3917 to 3927
     5      1      5      5     10      7      1      1      1      5      1

Columns 3928 to 3938
    29      5      5      5      5      1     11      1      1      8      1

Columns 3939 to 3949
     2      5      5      3      1      2      9      9      1      5      5

Columns 3950 to 3960
     7      3      5      4     14      1      1      1      1      1      1

Columns 3961 to 3971
     5      1      1      9      5      6      1      1      5      2      1

Columns 3972 to 3982
     7      1      1      5      1      5      1      1      5      5      2

Columns 3983 to 3993
     5      1     19     13      6      1      1      9     13      1      2

Columns 3994 to 4004
     5      1      1      1     13     13      1      9     11      1      1

Columns 4005 to 4015
     1      1      1      5      1      1      1      9      1      1     13

Columns 4016 to 4026
     1      1      1      5     13      9      1      5      5      3      3

Columns 4027 to 4037
     5      1      5      9      2      5     18      1      1      5      5

Columns 4038 to 4048
     9      1      1      1     14     11      1      3     17      1      1

Columns 4049 to 4059
     1      1      5      2      1      1      9      5      1      5     10

Columns 4060 to 4070
    14      5     11     21      5      4      1      9      5      7      1

Columns 4071 to 4081
     1      1      1      1      1      5      1      5      9      1      9

Columns 4082 to 4092
     9      8     13      3      5      5      1     11      1      7     13

Columns 4093 to 4103
     2      6      1      9      1     13      1      5      9      1      1

Columns 4104 to 4114
     1      1      1      1     25      5     17      1      1      5     11

Columns 4115 to 4125
     5      1

  1      1      7     14      1      7      9      5      1

Columns 4126 to 4136
     5      1     15      5      1     13      5      5      1      1      1

Columns 4137 to 4147
     1      4      5      1      1      1      5      1      1      1      1

Columns 4148 to 4158
     1      7      1      1      1      3      5      1      5      2      1

Columns 4159 to 4169
     1      1      1      1      1      1      7      4      1      1      1

Columns 4170 to 4180
     9      2      5      1      9      1      4      1      1      5      5

Columns 4181 to 4191
     1      1      5      2      5      1      9      1     19      5      1

Columns 4192 to 4202
     1      2      1      9      5      1      5      1      9      1     13

Columns 4203 to 4213
     1     13      5      9      6      2      1      1      1      1      6

Columns 4214 to 4224
     9      5      1      1      1      5      5      5      5      1     10

Columns 4225 to 4235
     5      5      1      5      1      4      1      5      9      3      5

Columns 4236 to 4246
    16      5      1      9      1     13      1      2     13      1      1

Columns 4247 to 4257
     5      1      2      5      5      1      5      9      5      1      6

Columns 4258 to 4268
     1      5      4      1      1      1     21     10      1      1      1

Columns 4269 to 4279
     1      5      1      5      1      1      1      1      1      5      5

Columns 4280 to 4290
     5     13      1      1      7      1      5      1      1      5      1

Columns 4291 to 4301
     1      1      9      1      1      1      5      1      1      1      5

Columns 4302 to 4312
     1      1      9      5      9      5      9      9      1      1      5

Columns 4313 to 4323
     1      1      1      1      5      5      4      1      3      1      1

Columns 4324 to 4334
     5      1      1      1      5      1      1      2      8      5      1

Columns 4335 to 4345
     8      1      5     13     17      1      1      1      5      9      5

Columns 4346 to 4356
    13      1     17      5      1      5      5      9      1      1      1

Columns 4357 to 4367
     6      1      1     13      1      1      8     13      1      1      1

Columns 4368 to 4378
     5      9      6      1      9      1      1      5      6      1      1

Columns 4379 to 4389
     7      5      5      1      9      5      1      5      2      1      1

Columns 4390 to 4400
     1      1      6      1      1      1     17      1      1      1      2

Columns 4401 to 4411
     6      2      5      8      1      9      1      5      1      1      5

Columns 4412 to 4422
     6      5      9      5      9      9      1     13      1      1      1

Columns 4423 to 4433
     1      1      1      3      7      1      1      1      1      1      5

Columns 4434 to 4444
     1      5      1      1      5      1      9      1      5      1      5

Columns 4445 to 4455
     1     10      7      1      5      1      1      5     13      5      1

Columns 4456 to 4466
     1      1      9      1      1      5      1      5      5      1      5

Columns 4467 to 4477
     5      1      1      1      9      2     17      1      1      1      5

Columns 4478 to 4488
     3      5      1     13      1      1      1      5      1      1      1

Columns 4489 to 4499
     1      9      5     12      1      5     13      5      5      5      1

Columns 4500 to 4510
     5      1      1      1      1      1      5      1      1      1      5

Columns 4511 to 4521
     4      9      1      5      1      1      5      9      1      5      5

Columns 4522 to 4532
     4      1      9      1      5      1      5     13     19      1      1

Columns 4533 to 4543
     5      1      1      1      1      6      1      5      6      5      1

Columns 4544 to 4554
     9      1      1      1      1      1      5      1      1      5      1

Columns 4555 to 4565
    48      1      1      5      1      6      1      1      1      5      1

Columns 4566 to 4576
     3      1      9      1      1      1      1

4      1      1      1

Columns 4577 to 4587
     1      5      1      9      1     12      5      1      5      1      1

Columns 4588 to 4598
     1      1      1      1      1      2      9      1      5      1      1

Columns 4599 to 4609
     4      1      8      5      1      1      9      9     11      6      2

Columns 4610 to 4620
     2      1      1      1      5      4      1      1      9      5      5

Columns 4621 to 4631
     1      5      5      1      5      1     13      1      1      1      5

Columns 4632 to 4642
     5      1      5      1      1      1      5      1      2      1      5

Columns 4643 to 4653
    16      1      1      9      9      1      1      1      5      1      5

Columns 4654 to 4664
     1      5      5      1      1      7      1      5      1      1      1

Columns 4665 to 4675
     1      1      1      1      9     22      1      1     22      7      1

Columns 4676 to 4686
     9      5      1      5      5      5      1      1      1      9      1

Columns 4687 to 4697
     6     15      1      5      1      2      1      1      5      5      1

Columns 4698 to 4708
     1      1      8      1      9      9      5      1      1      1      1

Columns 4709 to 4719
    11      5      9      1      1     16      3      1      2      5      1

Columns 4720 to 4730
     9      1      1      1      4      5      7      1      1      5      1

Columns 4731 to 4741
     1      1      1      1      1      1      5      9      1      1      1

Columns 4742 to 4752
     5      5      5      5      1      1      2     17      1      1      1

Columns 4753 to 4763
     1      1      5      5      1      5      1      5      1      1      5

Columns 4764 to 4774
     1      1      1      1      1      1      9      1      9      9      5

Columns 4775 to 4785
    11      1      1      5      1      5      1      1      5      5      1

Columns 4786 to 4796
     9      1      1      9      9      1      5      1      1      5      1

Columns 4797 to 4807
     9      9      1     13      3      1      1      1      9      5      1

Columns 4808 to 4818
     1      1      1      5      1      1      1      1      5      5      1

Columns 4819 to 4829
     1      5      1      3      1      5      1      1     13      1      5

Columns 4830 to 4840
     1      5      9      1      1      1      5      1      9      5      1

Columns 4841 to 4851
    12      1      5      1      9      9      1      1      1      5      1

Columns 4852 to 4862
     1      1      2      1      1      1      2      6      1      1      5

Columns 4863 to 4873
     1      1      1      1      1      1      5      1      1      1      9

Columns 4874 to 4884
     8      5      4      1     14      1      1      1      9      5      1

Columns 4885 to 4895
     6     13      1      5      1      1      1      1      5      1      1

Columns 4896 to 4906
    15      5      1      1      1      1      1      9     28     13      1

Columns 4907 to 4917
    10      5      1      1      1      1      1      5      1      9      1

Columns 4918 to 4928
     1      5      7      5      1      1      5     13      1      9      1

Columns 4929 to 4939
     1      1      1      5      3      1      1      1      5      5      1

Columns 4940 to 4950
     5     21      1      5     10      9      5      5      5      1      1

Columns 4951 to 4961
     5      1      1      1      5      1      1      3      1     10      5

Columns 4962 to 4972
     1      1      9     11      1      1      1     22      1      1      1

Columns 4973 to 4983
     5      1      5      1      1      6      5     14      5     10      1

Columns 4984 to 4994
     9      1      5      1      1      5      1      1      9      5      1

Columns 4995 to 5005
     1      1      1      1     10      1      9      4     18      5      1

Columns 5006 to 5016
     5      5      1      1      1      5      1      5      1      3      1

Columns 5017 to 5027
    13      1      1     11      5      5      1      5      4      1      5

Columns 5028

to 5038
     1      5      1      1      1      1      5      5      5      4      1

Columns 5039 to 5049
     1      1      5      9      1      9      1      5      5      6      1

Columns 5050 to 5060
     1      2      3      1      6      9      5      5      1      6      1

Columns 5061 to 5071
    13     24      1      1      5      1      1      1      1      1      5

Columns 5072 to 5082
     1      5      7      1      5      5      1      9      1      1      2

Columns 5083 to 5093
     9      5      1      1      1      7     15      5     13     15      9

Columns 5094 to 5104
     1      1      1      1      1      1      5      1      5      2      2

Columns 5105 to 5115
     1     18      1      1      1      5      1      5      1      1      6

Columns 5116 to 5126
     4      5      7      1      9      5      1      1      1     17      9

Columns 5127 to 5137
     1      5      5      1      1      1      9      1      5      9     13

Columns 5138 to 5148
     1     10      1      5      5      1      1      1      5      1      5

Columns 5149 to 5159
     1      4      1      1      5      5      6      1      9      5      1

Columns 5160 to 5170
     1      1      5     24      1      1      7      5      1      5      5

Columns 5171 to 5181
     5      5      1     19      5      5      1      1      1      1      5

Columns 5182 to 5192
     5      1      5     13      1      1      5      1      5      1      8

Columns 5193 to 5203
     1      1      4      1      1      1      1      1      1      1      5

Columns 5204 to 5214
     1      9      2      2      1      1      1      1      1      1      1

Columns 5215 to 5225
     6      1      1      1      1      1      9      1      1      9      1

Columns 5226 to 5236
     1      1      9      1      1      5      1      1      4      1      9

Columns 5237 to 5247
     1      1      5      1      1      1      5      5      1      1      9

Columns 5248 to 5258
    13      1      5      1     15      2      1     13      1      1      5

Columns 5259 to 5269
     6     13      1      1      1      1      7      1      1      9      1

Columns 5270 to 5280
     6      9      4      1      1      1      5      2      1      1      1

Columns 5281 to 5291
     6      1      5      1      1      1      1      2      1      1      6

Columns 5292 to 5302
     9      5      1      9      9      1      1      1      5      1      5

Columns 5303 to 5313
     1      1      1      5      1      1      9      1      5      5      5

Columns 5314 to 5324
     1      9     10      1      1      5      6      1      6      2      1

Columns 5325 to 5335
    21      1      1     11      1      5      4      1      9      1      1

Columns 5336 to 5346
     1      1      1      1      5      1      1      1      8      9      9

Columns 5347 to 5357
     1      1      9      1      5      5      1      1      2      1      1

Columns 5358 to 5368
     5     13      1      1     21      1      1      1      1      9      1

Columns 5369 to 5379
     1      1      1      1      1      1      1      1      1      1      9

Columns 5380 to 5390
     1      3      9      1      5      1      5      1      1      9      5

Columns 5391 to 5401
     1      5      1      1      5      1      5      1      5      9      1

Columns 5402 to 5412
     1      1      1     14     10      1      1      7      1      1      8

Columns 5413 to 5423
     1      1      1      1      1      1      1      5      5      3      1

Columns 5424 to 5434
     5      1      5      5      1      5      1      9      1      1      1

Columns 5435 to 5445
     3      1     11      1      5      1      5     13      1      5      1

Columns 5446 to 5456
     1      1      1      5      5      5      5     19      1      5      1

Columns 5457 to 5467
     5      5      1      1     21      1     13      9      3      1     13

Columns 5468 to 5478
     5      1      7      5      1      1      1      1     10      1      1

Columns 5479 to 5489
    13      1      5     33

    5      1      5      1      1      1      5

Columns 5490 to 5500
     1      5      1      5      6      1      5      5      1     17      1

Columns 5501 to 5511
     1      1      5      1      5      1      1      1      9      5      1

Columns 5512 to 5522
     5      4      1      1      5      1      2     13      1      1      5

Columns 5523 to 5533
     1      1      5      1      1      1      5      1      1      1      5

Columns 5534 to 5544
     3      1      1      5      5      1      1      5      1      1      1

Columns 5545 to 5555
     1      9      3      1      5      7      5     10     12      1     17

Columns 5556 to 5566
     1      1      1      5      1      1      1      2      5      1      1

Columns 5567 to 5577
     5      1     19      1      1      9      1      5      5      1      1

Columns 5578 to 5588
     2      9      1      1      1      1      3      7      5     23      5

Columns 5589 to 5599
     9      9      9      3      1      1      5      1      5      1      9

Columns 5600 to 5610
     1      1      1      1      1      1      7      1      1      1      1

Columns 5611 to 5621
     5      1      1      1      1      1      1      1      1      1      5

Columns 5622 to 5632
     1      6      1      1      5      9      5      1     12      1      1

Columns 5633 to 5643
     1      1      1      1      5      1      1      1      5      1      1

Columns 5644 to 5654
     1      3      1      7      1      1      5      1      1      1      9

Columns 5655 to 5665
     1      1      1      9      5      1      1      9      5      1      7

Columns 5666 to 5676
     1      1      1      5      4      5      1      5      1      1      1

Columns 5677 to 5687
     1      9      5      1      1      5      5      1      1      5      1

Columns 5688 to 5698
     5      1      1      1      1      1      1      1      5      1      1

Columns 5699 to 5709
     1      1      5      1      5      1     13      9      5     13      9

Columns 5710 to 5720
     1      1      9      4      1      1      1      1      2      1      1

Columns 5721 to 5731
     1      5      1      9      9      1      1      5      1      1      1

Columns 5732 to 5742
     6      1      1      5      1      1      4      9      1      9     13

Columns 5743 to 5753
     9      1      1      1      1      6      5      5      1      5      5

Columns 5754 to 5764
     1      1     11      5      1      5      1      1      1      1      1

Columns 5765 to 5775
     6      9      1      1      1      1      1      2     10      1      1

Columns 5776 to 5786
     5      1      5      1      1      9      5      5      5      1      5

Columns 5787 to 5797
     4      1      9      9      1      5      1      5      5      1      5

Columns 5798 to 5808
     9      9      1      1      5      1      5      1      1      1      1

Columns 5809 to 5819
     4      8      1      1      1      9      1      1      5      1     11

Columns 5820 to 5830
     1      5      1      5      1      5      5      1      1      1      1

Columns 5831 to 5841
     1      9      1     11      1      1      1      3     11      1      1

Columns 5842 to 5852
     1      1      1      1      1      1      3      1      1      5      1

Columns 5853 to 5863
     1      1      3      1      5      2      1      7      1      1      1

Columns 5864 to 5874
     9     13      1      6      5     10      6      5      2      1      5

Columns 5875 to 5885
     1     10      9      5      5     11      1      1      1      8      1

Columns 5886 to 5896
     1      5      1      9      3      5      1      1      9      1      1

Columns 5897 to 5907
     2      1      1      9      7      2      1      1      7      1      4

Columns 5908 to 5918
     1      5      5      1      1      1      1      5      5      1     13

Columns 5919 to 5929
     1      1      5      1      5      1      1      1      1      1      1

Columns 5930 to 5940
     1      5      1      5      5      1      1      7     13

  1      5

Columns 5941 to 5951
     1      1      1      1      1      1      9      1      3      5      1

Columns 5952 to 5962
     1      1      5      1      5      1      1      1      1      1      5

Columns 5963 to 5973
     1      1      1      1      1      5      5      5      1      5      1

Columns 5974 to 5984
     1      1      1     13      3      6      1      6      5      1      5

Columns 5985 to 5995
     5      1      5      5      1      1     13      1      5      1      1

Columns 5996 to 6006
     1      1      1      1      1      1      1      1      5      5      5

Columns 6007 to 6017
     1      1      1      1      1      1      9      1      5      5      1

Columns 6018 to 6028
     1      1      1      1      1      1      1      2      1      1     21

Columns 6029 to 6039
     1      9      1      1      1      1      5      1      3      1      1

Columns 6040 to 6050
     1      1      1      1      1      1      1      1      1      1     18

Columns 6051 to 6061
     1      9      9      1      5      1      1      1      1      1      1

Columns 6062 to 6072
     1      1      1      1     19     13      1      5      1      1      1

Columns 6073 to 6083
    14      1      1      5      5      5      1      1      5      1     13

Columns 6084 to 6094
     5      1      5     11      1      1      2      1      1      1      1

Columns 6095 to 6105
     1      5      9      1      1      1      1      9      5      1      1

Columns 6106 to 6116
     1      1      5      5      1      1      1      1      5      1      9

Columns 6117 to 6127
     1      5      1      5      1     13      1      1     17     15      1

Columns 6128 to 6138
     1      1      1      1      1      6      1      5      1      1      5

Columns 6139 to 6149
     1      1      1      1      5      5      1      1      9      5      3

Columns 6150 to 6160
     4      1      1      5      5      1      5      1      1      1      5

Columns 6161 to 6171
     1      1      5     11      1      1      1      5      1      1      1

Columns 6172 to 6182
     5      1      1      5      1      6      1      1      1      1      1

Columns 6183 to 6193
     6      5      1      1      3      1     15      1      1      1     13

Columns 6194 to 6204
     5      1     13      1      1      1      1      1      5      1     14

Columns 6205 to 6215
     1      5      1      5      1     17      1      9      1      1      1

Columns 6216 to 6226
     1     25     13      1      1     14      5      1      1      5      1

Columns 6227 to 6237
     1     14      5      1      9      5      5      5      1      1      1

Columns 6238 to 6248
     1      1      1      1      1      1      1      1      5     17      1

Columns 6249 to 6259
     1      1      4      6      1      1      1      3      1      1      1

Columns 6260 to 6270
     1      1      1     10      1      5      5      1      9      1      1

Columns 6271 to 6281
     5      1      1      1      1      1      1     11      1      1      1

Columns 6282 to 6292
     1      9      1      1      9      2      1      6      1      1      9

Columns 6293 to 6303
     5      5      1      1      1      1      1      1      9      1      1

Columns 6304 to 6314
     1      1      6      5      1      9      9      5      9      1      1

Columns 6315 to 6325
     1      5      1      1      1      1      1      5      1      5      9

Columns 6326 to 6336
     2      1      1      1      1      5      1      2      1      1      1

Columns 6337 to 6347
     1      5      1      2      9      5      1      5      1      1      1

Columns 6348 to 6358
     1      5      1      4      1      1      2      5      1      1      1

Columns 6359 to 6369
     5      1      9      1      1      5      1      1      9      1      1

Columns 6370 to 6380
     1      1      5      1      5      1      1      1      5      1      2

Columns 6381 to 6391
     6      5      1      1      5      1      1      1      1     11      5

Columns 6392 to 6402

 1      1      1      1      1      1      6      1      4      1      9

Columns 6403 to 6413
     8      9      1      5      1      9      1      1      1      3      1

Columns 6414 to 6424
     6      1      1     12      1      1      1      1      5      5      9

Columns 6425 to 6435
     1      1      1      1      1      9      1      1      9      1      1

Columns 6436 to 6446
     5      1     13      1      1      1      1      1      3      1      7

Columns 6447 to 6457
     1      5      1      5      1      1      1      5      1      1      5

Columns 6458 to 6468
     1      1      9      1      1     25      1      5      5      9      1

Columns 6469 to 6479
     1      1      5      1      1      1      9     13      9      5      1

Columns 6480 to 6490
     1      1      1     13      1      1      1      1      1      1      1

Columns 6491 to 6501
     1      1      6      1      1      5      1      5      1      1      5

Columns 6502 to 6512
     1      9      7      1      9      1      1      1      1      1      1

Columns 6513 to 6523
     1      1      9      1      9      1      5      1      9      1      1

Columns 6524 to 6534
     5      9      1      1      1      1      1      1      1     18      9

Columns 6535 to 6545
     1      1      2      1      1      2      5      1      1      1      1

Columns 6546 to 6556
     1      5      5      1      1      5      1      1      1      5      1

Columns 6557 to 6567
     1      1      5      1      1      1      1      5     26      5      1

Columns 6568 to 6578
     1      2      1      5      9      6      1      5      1      1      1

Columns 6579 to 6589
     1      1      1      5      1      5      1      9      5      5      2

Columns 6590 to 6600
    13      1      1      1      1      8      1      1     10      1      1

Columns 6601 to 6611
     1      4      1      1      1      1      1      1      1      5      1

Columns 6612 to 6622
     1      1      1      1      1      1      1      9      1      1      5

Columns 6623 to 6633
     1      1      1      1      2      1      1      5      4      1      1

Columns 6634 to 6644
     1      1      1      1      1      1      1      5      1      5      6

Columns 6645 to 6655
     5      5      5      1      1      1      5      1      1      9      1

Columns 6656 to 6666
     5     11      5      5      5      2      1      5      1      5      1

Columns 6667 to 6677
     1      1      9      1      5      5      1     11      1      1      2

Columns 6678 to 6688
     5      5      1      1      1      1      1      1      5     10      1

Columns 6689 to 6699
     9      1      1      1      1      1      1      5      1      1      1

Columns 6700 to 6710
     1      3      5      1      1      1      1      2      1      1      1

Columns 6711 to 6721
     1      1      1      1      1      1      1      9      1      1      1

Columns 6722 to 6732
     5      5      1     11      5      1      9      1      5      1      1

Columns 6733 to 6743
     1      1      1      1      1      1      1      1      1      1      2

Columns 6744 to 6754
     1      6      1      1      1      1      1      1      6      1      1

Columns 6755 to 6765
     1     10      9      1      1      5      1      5      1      5      5

Columns 6766 to 6776
     1      1      9      8      1      1      1      9      1      5      5

Columns 6777 to 6787
    13      6     10      1      9      1      5      3      1      5      1

Columns 6788 to 6798
     1      5      1      1     13     12      5      1      2      1      5

Columns 6799 to 6809
     1      5      1      1      6      1      2      1      1      9      5

Columns 6810 to 6820
     1      5      1      3      1      5      5      5      1      1      5

Columns 6821 to 6831
     5      1      1      5      5      1      1     13      1      1      1

Columns 6832 to 6842
     1      1      1      5      5      4     11      1      1      1      7

Columns 6843 to 6853
     1     22      1      1      1      3

      9      1      1      1      5

Columns 6854 to 6864
     5      1      5      1      5      3      5      1      5      5      1

Columns 6865 to 6875
     1     17      1      1      1      5      1      1      1      5      1

Columns 6876 to 6886
     5      1      1      1      1      5      1      1      1      1      1

Columns 6887 to 6897
     1      1      1      1      1      4      1      1      1      1      3

Columns 6898 to 6908
     1      5      1      1      1      4      3      9      7      1      5

Columns 6909 to 6919
     1      1      1      1      2      9      5      5      1      1      1

Columns 6920 to 6930
     9      9      5      5      5      1      5      5      9      1      1

Columns 6931 to 6941
     9      1      1      1      1      9      5      5      5      2      1

Columns 6942 to 6952
     1     11      1      1      1      1      9      1      1      5      1

Columns 6953 to 6963
     1      1      1      1      9      9      1      1     18      1      1

Columns 6964 to 6974
     1      1      5      1      9      1      1      1      1      5      5

Columns 6975 to 6985
     9      5      1      1      9      9      6      1      1      1      1

Columns 6986 to 6996
     1      1      1      6      1      9      1      1     21      1      5

Columns 6997 to 7007
     1     10      1      1      1      1      1      1      1      5      1

Columns 7008 to 7018
     1      1     13      1      1      1      1      5      1      1      5

Columns 7019 to 7029
     1      1     10      9      1      1     11      1      5      1      5

Columns 7030 to 7040
     3      5      5      3      5      1      5      1      1      1      1

Columns 7041 to 7051
     1      6      1      5      1      1      1      1     13      1      1

Columns 7052 to 7062
     1      5      5      1      9      1      5      1      1      1      5

Columns 7063 to 7073
     5      1      6      5      1      5      1      1      1      5      5

Columns 7074 to 7084
     1      1      5      1      1      9      5     13      1     13      1

Columns 7085 to 7095
     1      1      1      1      9      1     16      1      1      1      1

Columns 7096 to 7106
     1      1     14      3      1      1      1      1      1     13      1

Columns 7107 to 7117
     9      1      1      1      1      1      1     13      1      8      1

Columns 7118 to 7128
     1      1      1      1      9      1      1      1      1      1      1

Columns 7129 to 7139
     1      7      1      1      1      1      1      9      1     17      1

Columns 7140 to 7150
     5      1      2      5      1     14      1      1      9      1      1

Columns 7151 to 7161
     1     11      5      1      4      5      1      5      9      5      1

Columns 7162 to 7172
     1      9      6      1      3      5      5      5      1      1      9

Columns 7173 to 7183
     1      1      1      5      1      1      1      1      2      1      1

Columns 7184 to 7194
     2      1      1      1      1      1      1      5      1      1      1

Columns 7195 to 7205
     1      1      2      1      5      5      1      1      1      5      5

Columns 7206 to 7216
     1      4      1      1      1      1      5      2      1      1      9

Columns 7217 to 7227
     1      1      5      1      1      1      1      1      1      5      1

Columns 7228 to 7238
     5      5      1      5      3      1      1      1      9      1      1

Columns 7239 to 7249
     1      1      1     13      1      1      1      1      1      1      1

Columns 7250 to 7260
     1      5      5      1      1      1      1      5      1      1      5

Columns 7261 to 7271
     1      1      5      1      1      1      1      1      1      5      1

Columns 7272 to 7282
     1      1     13      1      5      5      1      5      1      1      1

Columns 7283 to 7293
     5      1      1      1      1      1      1      1      1      1      8

Columns 7294 to 7304
     5      1      1      1      1      1      1      1      5      1      1

Columns 7305 to 7315
     1      9      1      7      8      1      9      2      1      1      1

Columns 7316 to 7326
     5      5     13      5      1      1      5      1      5      1      1

Columns 7327 to 7337
     1      5     10      1      5      1      1      1      9      1      1

Columns 7338 to 7348
    14      5      5      1     11      1      1      1      1      1      1

Columns 7349 to 7359
     7      5      5      9      1      1      1      1      1      5      5

Columns 7360 to 7370
     1      1      5      1      2      1      1      1      1      2      1

Columns 7371 to 7381
     1      1      1      4      8      2      1      1      5      5      1

Columns 7382 to 7392
     1      1      9      1      1     11      1      1      5      5      9

Columns 7393 to 7403
     1      1      1      1      9      1      1      1      1      1      5

Columns 7404 to 7414
     1      1      1      3      1      1      5      1      1      9      5

Columns 7415 to 7425
     1     10      1      5      1      9      1      1     12      1      5

Columns 7426 to 7436
     5      1      5      1      1      5      1      5      1      1      1

Columns 7437 to 7447
     1     13      5      2      1      1      1      1      1     19      3

Columns 7448 to 7458
     1      1      5      1      1      1      1      1      1      1      1

Columns 7459 to 7469
     5      1      1      1      8      5      1      1      1      5      1

Columns 7470 to 7480
     1      1      1      5      1      1      9      1      1      1      1

Columns 7481 to 7491
     1      1     14      1      1      1      5      5      1      9      5

Columns 7492 to 7502
     5      1      1      1      1      5      1      1      2      5      1

Columns 7503 to 7513
     5      1      1      1      1      3      5      5      5      5      1

Columns 7514 to 7524
     5      1      1      1      1      1      1      1      1      1      1

Columns 7525 to 7535
     1      5     10      9      9      1      5      1      5      1      1

Columns 7536 to 7546
     1      1      1      5      1      5      1      1      5      1      1

Columns 7547 to 7557
     1      9      1      1      1      5      1      1      1      8     13

Columns 7558 to 7568
     5      1      5      1      1     13      1      1      1      1      1

Columns 7569 to 7579
     1      1      1      1      1      5      1      1      5      5      1

Columns 7580 to 7590
     5      5      1      6      1      5      1      1      1      1      1

Columns 7591 to 7601
     1      5      5      1      1      5      1      1      1      1      1

Columns 7602 to 7612
     9      1      1      1      1      1      1      1      5      5      1

Columns 7613 to 7623
     1      9      1      1      9      1      1      1      1      5      5

Columns 7624 to 7634
     1      1      5      1      1      1      1      5      1      5      5

Columns 7635 to 7645
     1      2      5      1      5     11      7      1      1      1      1

Columns 7646 to 7656
     9      5      1      1      1      9      1      1      9      1      1

Columns 7657 to 7667
     1      5     17      1      5      1      1      9      1      1      5

Columns 7668 to 7678
     5      8      1      1      1      1      1      1      1      1      1

Columns 7679 to 7689
     1      1      5      3      1      5      9      5      1      1      9

Columns 7690 to 7700
     1      2      1      5      5      1      1      1      1      5      1

Columns 7701 to 7711
     1      1      5      1      1      1      1      1      1      1      2

Columns 7712 to 7722
     1      5      1      1      1      1      1      5      1      5      1

Columns 7723 to 7733
     1      1      1      1      9      1      1      1      1      9      1

Columns 7734 to 7744
     1      1      9      1      1      1      1      1      5      1      1

Columns 7745 to 7755
     1      1      1      9      1      5      3      1      1      8      5

Columns 7756 to 7766
     4      1

   5      1      2      5      5      1      5      1      1

Columns 7767 to 7777
     1      1      5      9      5      1      1      1      1      1     13

Columns 7778 to 7788
     1      1      1      9      1      1      1      5      5      1      1

Columns 7789 to 7799
     1      1      1      5      1      1      9      5      1      1      5

Columns 7800 to 7810
     5      1      1      1      1      1      1      1      7      1      6

Columns 7811 to 7821
     1      1      5      1      1      5      9     29      1      1      1

Columns 7822 to 7832
     5      5      1      1      1      1      9      5      5      1      6

Columns 7833 to 7843
     1      1      5      1      1      5      5      1      1      9      3

Columns 7844 to 7854
     1      1      1      1     13      2      5      4      9      1      1

Columns 7855 to 7865
    17      1      1      1      1      5      1      5      1      1      1

Columns 7866 to 7876
     5      2      1      1      5      5      1      1      1      9      1

Columns 7877 to 7887
     5      1      9      1      1      1      1      1      1     13      1

Columns 7888 to 7898
     1      5      1      1      8      5      1      1      1      1      5

Columns 7899 to 7909
     1      3      1      1      1      1      5      1      5      1      1

Columns 7910 to 7920
     1      1      1      1      1      5      1      1      1      5      3

Columns 7921 to 7931
     1      1      1      1      1      1      5      9      9      1      1

Columns 7932 to 7942
     1      1      1      2      5     13      1      1      1      1      1

Columns 7943 to 7953
     5      1      1      1      5      5      4      1      1      8      1

Columns 7954 to 7964
     1      1      1      1      5      1      1     13      1      1      1

Columns 7965 to 7975
     2      1      1      1      1      1      1     13      1      1      1

Columns 7976 to 7986
     1      1      1      5      1      5      1      5      1      1      1

Columns 7987 to 7997
     1      1      1      6      9      9      5      1      1      1      1

Columns 7998 to 8008
     1      5      1      5      5      1      5      1      5      1      1

Columns 8009 to 8019
     5      1      9      5      1      1      1      1      1      1      5

Columns 8020 to 8030
     5      9      1      5      1      1      9      1      9      5      1

Columns 8031 to 8041
     1      9      1      1      1      1      1      9      1      1      9

Columns 8042 to 8052
     1      1     17      1      1      1      4      1      1      1      9

Columns 8053 to 8063
     1      1      1      1      9      5      2      5      7      1      1

Columns 8064 to 8074
     1      5      5      2      1      1      1      1      1      1      1

Columns 8075 to 8085
     1      9      4      1      1      5      1      2      5      1      1

Columns 8086 to 8096
     1      1      1      1      1      1      1      1      5      9      1

Columns 8097 to 8107
     5      1      5      5      1      1      1      1      1      1      3

Columns 8108 to 8118
     1      1      1      1      1      1      1      1      5      1      1

Columns 8119 to 8129
     1      1      2      5      5      1      1      1      1     20      1

Columns 8130 to 8140
     1      5      1      1      1      1      1      1      1      1      1

Columns 8141 to 8151
     5      1      2      1      1      5      1      1      1      1      9

Columns 8152 to 8162
     5      2      1      5      1      5      1      1      9      1      1

Columns 8163 to 8173
     1      1      1      1      1      8      1      1      1      1      5

Columns 8174 to 8184
     1      1      1      1      1      2      5      1      5      5      1

Columns 8185 to 8195
     1      1     12      1      1      1      1      1      1      1      1

Columns 8196 to 8206
     5      1      9      1      5      1      6      1      1      9      1

Columns 8207 to 8217
     1      1      5      1      1      1      1

 1      1      1      9

Columns 8218 to 8228
     5      5      5      1      1      1      1      5      1     10      5

Columns 8229 to 8239
     1      1      9      5      1      5      1      1      1      1      5

Columns 8240 to 8250
     5      1      1      1      1      1      1      1      1      5      5

Columns 8251 to 8261
     5      3      1      1      5      1      1      1      1      1      1

Columns 8262 to 8272
     1      1      2      1      1      1      7      5      1      1      5

Columns 8273 to 8283
     1      9      5      9      1      5      5      1      1      5      1

Columns 8284 to 8294
     2      1      5      1      2      1      1      1      1      9      1

Columns 8295 to 8305
     9      5      1      5      1      5      1      1      1      1      5

Columns 8306 to 8316
     5      3      1     17      1      1      5      1      5      1      1

Columns 8317 to 8327
     5      9      1      1      5      1      1      2      1      5      9

Columns 8328 to 8338
     1      1      1      5      1      4      1      5      1      1      1

Columns 8339 to 8349
     1      1      1      1      1      1      1      1      5      2      1

Columns 8350 to 8360
     1      1      1      1      1      1      5      1      1      5      3

Columns 8361 to 8371
     1      1      1      1      1      2      1      1      5      3      1

Columns 8372 to 8382
     5      1      1      1      5      1      1      1      1      1      1

Columns 8383 to 8393
     9      1      1      1      1      5      2      1      5      5      1

Columns 8394 to 8404
     4      1      5      5      3      1      1      1      1      1      1

Columns 8405 to 8415
     5      1      5      5      1      3      5      1      1      1      1

Columns 8416 to 8426
     1      1      1      1      5      1      1      1      1      1      5

Columns 8427 to 8437
     1      4      1     13      1      1      1      1      1      1      1

Columns 8438 to 8448
     1      5      1      1      1      1      1      1      5      5      1

Columns 8449 to 8459
     1      5      5      1      1      1      5     17      5      1      5

Columns 8460 to 8470
     1      1      5      1      1      1      1      1      1      1      1

Columns 8471 to 8481
     5      1      5      1      5      5      1      1      4      9      5

Columns 8482 to 8492
     1      1      1      1      5      1      5      1      1      1      5

Columns 8493 to 8503
     1      5      1      1      1      2      1      1      1      1      1

Columns 8504 to 8514
     1      5      5      1      1      1      1      1      5      1      1

Columns 8515 to 8525
     1      1      1      1      1      1      1      5      1      1      1

Columns 8526 to 8536
     1      1      5      1      1      1      1      1      1      5     10

Columns 8537 to 8547
     1      7      1      5      1      1      1      1      1      1      1

Columns 8548 to 8558
     1      1      1      1      8      1      1      1      1      1      5

Columns 8559 to 8569
     1      1      5      1      6      1      1      1      1      1      1

Columns 8570 to 8580
     1      1      1      2     18      5      1      1      5      1      1

Columns 8581 to 8591
     1      1      5      1      1      1      1      1      1      9      1

Columns 8592 to 8602
     1      5      1      1      1      1      1      1      1      1     13

Columns 8603 to 8613
     1      1      1      1      1      5      1      1      6      1      1

Columns 8614 to 8624
    23      1      5      5      1      1      1      5      1      1      1

Columns 8625 to 8635
     1      1      1      1      1      1      1      2      9      1      1

Columns 8636 to 8646
     1      1      1      5      1      5      1      1      1      1      1

Columns 8647 to 8657
     5      9      5      5      1      1      1      1      9      1      5

Columns 8658 to 8668
     5      4      1      1      1      1      1      1      1      9      1

Columns 8669

 to 8679
     1      1      1      1      1      1      5      1      5      5      1

Columns 8680 to 8690
     1      5      5      1      1      1      1      1      1      1      1

Columns 8691 to 8701
     1      1      1      6      1      1      1      1      9      1      5

Columns 8702 to 8712
     5      1      1      9      1      1      1      7      5      1      1

Columns 8713 to 8723
     1      1      5      1     22      1      1      1      1      1      1

Columns 8724 to 8734
     5      1      1      1      1      1      1      5      1      1      1

Columns 8735 to 8745
     1      1      1      1      1      1      4      1     13      1      1

Columns 8746 to 8756
     1     15      1      1      1      9      1      1      1      5      6

Columns 8757 to 8767
     1      1      5      1      1      1      1      1      1      1      1

Columns 8768 to 8778
     1      1      3      1     13      1      1      1      1      1      1

Columns 8779 to 8789
     1      1      1      1      1      5      9      1      1      1      5

Columns 8790 to 8800
     1      1      1      1      1      1      1      1      1      1      1

Columns 8801 to 8811
     1      1      9      1      1      3      5      5      5      1      1

Columns 8812 to 8822
     3      1      5      1      1      1      5      4      1      4      2

Columns 8823 to 8833
     1      1      5      1      1      1      1      1      1      5      1

Columns 8834 to 8844
     1      1      5      1      1      1      1      1      5      1      1

Columns 8845 to 8855
     3      1      1      1      1      1      1      5      1      5      1

Columns 8856 to 8866
     5      1      1      5      1      5      1      5      9      1      1

Columns 8867 to 8877
     5      1      9      5      1      1      5      1      5      1      1

Columns 8878 to 8888
     5      1      1      9      1      1      9      1      5      1      1

Columns 8889 to 8899
     1      4      5      1      1      5      1      1      5      1      1

Columns 8900 to 8910
     1      1      9      5      1      5      6      1      1      1      6

Columns 8911 to 8921
     1      5      1      5      1      5      1      1      1      1     17

Columns 8922 to 8932
     5      1      5      1      7      5     19      1      1      1      5

Columns 8933 to 8943
     1      1      1      1      1      5      1      1      1      1      1

Columns 8944 to 8954
     5      1      1      1      1      1      1      5      1      1      5

Columns 8955 to 8965
     5      1      1      1      1      6      1      1      1      1      1

Columns 8966 to 8976
     1      1     14      6      1      1      1      1      1      1      1

Columns 8977 to 8987
     1      5      1      2      1      1      1      1      1      1      1

Columns 8988 to 8998
     1      1      5      1      1      1      1      5      5      1      1

Columns 8999 to 9009
     1      1      2      5      1      1      1      1     13      1      1

Columns 9010 to 9020
     1     13      1      5      1      3      5      5      1      3      1

Columns 9021 to 9031
     1      1      5      1      5      1      9      1      1      1      5

Columns 9032 to 9042
     5      5      9      5      1      1      1      5      5      5      5

Columns 9043 to 9053
     1      1      1      5      1      1      5      1      1      1      1

Columns 9054 to 9064
     1      1      5      1      1      5      5      1      1      1      1

Columns 9065 to 9075
     1      1      1      1      1      1      1      5      1      1      1

Columns 9076 to 9086
     1      9      1      9      1      4      1      1      1      1      1

Columns 9087 to 9097
     1      1      1      1      5      1      1      2      1      1      1

Columns 9098 to 9108
     1      1      1      1      1      3      5      1      9      5      1

Columns 9109 to 9119
     1      1      1      1      1      1      1      1      1      5      1

Columns 9120 to 9130
     1      2      1      1

     1      1      1      1      1      5      1

Columns 9131 to 9141
     1      5      1      4      1      5      1     17      1      1      1

Columns 9142 to 9152
     1      1      1      5      2      1      1      1      5      1      1

Columns 9153 to 9163
     1     17      1      5      1      1      5      1      5      1      1

Columns 9164 to 9174
     1      1      1      1      1      1      1      5      3      1      5

Columns 9175 to 9185
     2      5      5      1      1      1      1      1      1      1      1

Columns 9186 to 9196
     1      1      5      2      1      1      1      5      1      1      1

Columns 9197 to 9207
     1      1      1      1      5      1      1      1      1     16      5

Columns 9208 to 9218
     5      1      1      1      1      1      5      1      1      1      1

Columns 9219 to 9229
     1      1      1      1      1      9      1      5     21      5      1

Columns 9230 to 9240
     1      1      5     16      1      1      1      1      1      5      1

Columns 9241 to 9251
     1      1      1      5      1      1      1      1      1      2      1

Columns 9252 to 9262
     4      1      1      1      1      1      1      1      1      5      1

Columns 9263 to 9273
     1      1      5      1      1      1      1      1      1     13      1

Columns 9274 to 9284
     1      5      5      9      1      5      1      1      1      2      1

Columns 9285 to 9295
     1      1      2      1      2      1      1      1      1      5      5

Columns 9296 to 9306
     1      5      2      1      1      5      1      1      1      1      1

Columns 9307 to 9317
     1      1      1      1      1      1      1      1      5      1      1

Columns 9318 to 9328
     1      5      1      1     13      5      9      1      1      1      1

Columns 9329 to 9339
     5      5      1      1      5      1      1      5      1      1      9

Columns 9340 to 9350
     5      1      1      1      1      1      1      1      5      1      1

Columns 9351 to 9361
     9      1      2      1      1      1      5      5      1      1     10

Columns 9362 to 9372
     1      7      1      1      1      5      1      8      5      1      1

Columns 9373 to 9383
     1      5      3      1      1      1      5      1      1      1      1

Columns 9384 to 9394
     1      1      1      1      1      9      1      1      1      5      1

Columns 9395 to 9405
     1      1      1      1      5      1      1      1      1      1      1

Columns 9406 to 9416
     5     18      1      1      1      1      1      1      1      5      1

Columns 9417 to 9427
     1      1      9      1      5      1      1      1      1      1      2

Columns 9428 to 9438
     1      5      1      1      5      1      1      1      1      1      1

Columns 9439 to 9449
     4      1      1      1      1      1      1      1      4      5      1

Columns 9450 to 9460
     1      2      1      1      1      1      1      5      1      1      5

Columns 9461 to 9471
     7      1      1      1      5      1      1      1      1      1      5

Columns 9472 to 9482
     1      1      1      9      5      1      1      5      1      1      5

Columns 9483 to 9493
     2      2      5      1      1      3      1      5      5      5      1

Columns 9494 to 9504
     1      5      1      1      1      1      1      6      1      5      1

Columns 9505 to 9515
     1      1      1      5      1      5      5      1      5      5      1

Columns 9516 to 9526
     1      1      1      1      9      1      1      1      1      1      1

Columns 9527 to 9537
     4      1      1      5      1      1      5      1      5      1      8

Columns 9538 to 9548
     1      1      1      2      5      1      5      5      1      5      1

Columns 9549 to 9559
     1      1      1      9      5      1      1      1      1      1      1

Columns 9560 to 9570
     5      5      1      1      1      1      1      5      8      1      2

Columns 9571 to 9581
     1      1      9      1      1      1      1      1      5

   1      1

Columns 9582 to 9592
     1      1      5      5      5      5      1      1      1      1      1

Columns 9593 to 9603
     1      1      1      5      1      1      1      1      1      1      1

Columns 9604 to 9614
     5      1      3      1      1      1      1      1      5      1      1

Columns 9615 to 9625
     1      1      1      1      1      1      1      9      5      6      5

Columns 9626 to 9636
     1      1      1      1      7      1      5      1      1      1      5

Columns 9637 to 9647
     5      1      1      5      1      1      5      5      1      1      1

Columns 9648 to 9658
     5      9      1      1      5      6      1      1      5      5      1

Columns 9659 to 9669
     1      6      1      5      1      1      5      1      1      1      5

Columns 9670 to 9680
    13      1      1      1      1      1      1      1      9      1      1

Columns 9681 to 9691
     1      1      1      1      1      1      1      1      1      5      5

Columns 9692 to 9702
     1      8      1      1      1      5      1      1      1      1      1

Columns 9703 to 9713
     1      1      1      1      1      1      1      1      1      1      1

Columns 9714 to 9724
     1      1      1      5      1      1      1      1      5      5      1

Columns 9725 to 9735
     1      1      1      1      1      1      1      1      1     13      1

Columns 9736 to 9746
     1      3      1      1     17      1      1      5      1      1      8

Columns 9747 to 9757
     1      1      9      1      1      1      1      5      1      1      1

Columns 9758 to 9768
     1      1      5      1      1      1      1      5      1      1      1

Columns 9769 to 9779
     1      5      1      1      5      1      1      1      1      1      1

Columns 9780 to 9790
     5      5      1      1      1      1      1      1      1      1      5

Columns 9791 to 9801
     1      1      2      5      1      1      1      1      1      1      1

Columns 9802 to 9812
     1      9      1      1     11      1      5      5      9      1      1

Columns 9813 to 9823
     1      5      1      1      5      1      1      1      2      1      5

Columns 9824 to 9834
     2      1      1      1      9      1      9      1      5      1      1

Columns 9835 to 9845
     5      1      1      1      1      1      5      1      1      1      1

Columns 9846 to 9856
     1      1      5      1      1      9      1      1      5      1      4

Columns 9857 to 9867
     9      1      1      1      1      1      1      1      1      5      5

Columns 9868 to 9878
     1      1      1      1      1      1      1      1      1      1      1

Columns 9879 to 9889
     2      2      1      1      1      1      1      1      7      1      1

Columns 9890 to 9900
     1      1      1      1      1      1      1      1      5      1      1

Columns 9901 to 9911
     9      1      1      1      1      1      1      5      2      1      1

Columns 9912 to 9922
     1      5      1      1      1      1      1      5      1      5      2

Columns 9923 to 9933
     1      1      5      1      1      1      1      1      1      9      1

Columns 9934 to 9944
     1      1      1      1      1      5      1      1      1      1      6

Columns 9945 to 9955
     1      1      5      1      1      1      1      1      1      1      9

Columns 9956 to 9966
     1      1      1      2      1      1      1      5      1      1      5

Columns 9967 to 9977
     1      1      1      1      1      1      1      1      1      1      1

Columns 9978 to 9988
     1      1      1      1      1      1      1      1      1      1      1

Columns 9989 to 9999
     1      1      1      5      1      1      1      1      1      1      1

Columns 10000 to 10002
     1      1      1
[torch.DoubleTensor of size 1x10002]

In [45]:
scores:sub(3,3)

Columns 1 to 10
 0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009

Columns 11 to 20
 0.0009  0.0009  0.9543  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009

Columns 21 to 30
 0.0043  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009

Columns 31 to 40
 0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009

Columns 41 to 50
 0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009  0.0009
[torch.DoubleTensor of size 1x50]